.todo-container {
    display: flex;
    align-items: center;
}

.todo-btns {
    margin-left: 1rem;
    visibility: hidden;
}

.todo-btns button:last-child {
    margin-left: 0.5rem;
}

.todo-container:hover .todo-btns {
    visibility: visible;
}
